<!-- <div class="w-full h-full p-10">
    <div class="flex justify-between">
        <h1 class="text-2xl font-medium mb-3 text-gray-500">{{ channelName }}</h1>
        <a *ngIf="permissions.includes('create')" [attr.data-modal-target]="channelId" [attr.data-modal-toggle]="channelId" type="button"
            class="items-end text-md block font-medium text-blue-600 cursor-pointer hover:text-blue-400">
            <span class="inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                </svg>
            </span>
            Create
        </a>
        <app-createposts *ngIf="permissions.includes('create')" [id]="channelId" tabindex="-1" aria-hidden="true" [modalId]="channelId"
            (onCreatePosts)="createPosts($event)"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"></app-createposts>
    </div>
    <app-post type="button" *ngFor="let post of posts" [postTitle]="post.title" [postDescription]="post.description" [postCreatedOn]="post?.createdAt ?? '' " [permissions]="permissions"
        (postDelete)="onDelete($event)" (postUpdates)="onUpdate($event)" [postId]="post?._id ?? ''"></app-post>
</div> -->

<div class="w-full h-full p-10">
    <div *ngIf="permissions.includes('create')" class="flex justify-between">
        <h1 class="text-2xl font-medium mb-3 text-gray-500">{{ channelName }}</h1>
        <button mat-button (click)="openDialog()" class="font-medium text-md text-blue-600 hover:text-blue-400">
            <span class="inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                </svg>
            </span>
            Create Post
        </button>
    </div>
    <app-post type="button" (postUpdates)="onUpdate($event)" (postDelete)="onDelete($event)" *ngFor="let post of posts"
        [post]="post" [permissions]="permissions"></app-post>
</div>